extends layout

block content
  form(action="/profile/create", method="post")
    label Username
    input(type="text", name="username")
    .submit
      input(type="submit", value="Create Profile")
