body, input {
    margin: 0;
    font: 9pt helvetica neue, helvetica, arial, sans-serif;
    background: white;
    color: #333;
    text-shadow: 0 1px 0 white;
}

body {
    padding: 20pt;
}

h1 {
    margin-top: 0;
    padding: 0;
}

h2 {
    margin: 12pt 0 30pt;
    font-size: 32pt;
}

div.footer {
    margin-top: 50pt;
    color: #999;
}

a {
    color: #333;
    text-decoration: none;
}

a.button, input[type=submit] {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: #3cf;
    box-shadow: #057 0 3px 0;
    color: #057;
    font-weight: bold;
    text-decoration: none;
}

div.index {
    margin: 50pt;
    text-align: center;
}

div.index h1 {
    font-size: 100pt;
    margin: 0 0 60pt 0;
    padding: 0;
}

div.index a.button {
    padding: 15px 30px;
    font-size: 20pt;
}

label {
    display: block;
    margin-bottom: 5pt;
}

input {
    font-size: 14pt;
    margin-bottom: 14pt;
}

input[type=text] {
    width: 300pt;
}

div.set, div.set:before, div.set:after {
    position: relative;
    display: inline-block;
    line-height: 0;
    width: 180px;
    height: 180px;
    margin: 0 50px 50px 0;
    background: #eff4de;
    border: 8px solid white;
    box-shadow: 0 1px 3px #999;
}

div.set:before, div.set:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -8px;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

div.set:after {
    top: -10px;
    left: 0;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

div.set img {
    width: 180px;
    height: 180px;
}
