!!! 5

html
  head
    title Thmbs
    link(rel="stylesheet", href="/css/master.css", type="text/css", media="screen", charset="utf-8")

  body
    .index
      h1
        a(href="#/") Thmbs
      a(class="button", href="/oauth/signin") Sign In With Dropbox
